$spc-blue: #012052;
$white: #fcfefa;
  
  // col palette
$spc-bg: #FFFFFE; // background
$spc-bg-dark: #fcfefa; //#FFFDE4; // #00FDFF; // #00284D; // #020D53; //1D1638; // sidebar color
$spc-primary: #174B75;  // 467598
$spc-primary-light: #1C558C; // #003A86; 
$spc-secondary: #D68951; // E09956; // dark orange
$spc-secondary-light: #936c10; // 
  
  // set custom hex colors
$siteBgColorCustom: $spc-bg;                   // site background
$textColorCustom: $spc-primary-light;          // all text, including headings
$bodyLinkColorCustom: $spc-secondary;          // main body links/anchors

$sidebarBgColorCustom: $spc-bg-dark;           // sidebar background
$sidebarTextColorCustom: $spc-secondary-light;   // text in sidebar
$sidebarLinkColorCustom: $spc-secondary-light;   // links in sidebar

$headlineColorCustom: $spc-primary;            // headline & name in About, event detail text
$headingColorCustom: $spc-primary;             // headings (in browser only)
$navLinkColorCustom: $spc-secondary;           // navbar & footer links/icons
$footerTextColorCustom: $spc-primary-light;    // footer text

$buttonBgColorCustom: $spc-primary-light;    // contact form button background
$buttonTextColorCustom: $white;                // contact form button
$buttonHoverBgColorCustom: mix($spc-secondary, $white, 85); // any button background w/ hover
$buttonHoverTextColorCustom: $white;           // any button text w/ hover

$borderColorCustom: $spc-primary-light;        // quote bar, horizontal bars


// own blockquote
div.cvbox {
  padding: 0em;
  margin: 0em 0;
  background-color: transparent;
  border: solid 0px #000000;
  text-indent: 2em, hanging;
}
p.indented {
  margin: 0;
  text-indent: 33px;
  color: #00A2C2; // 005F93; // #007A8C; // #0092A8; // #828594; // #9497A8;
}
